/* Images */

#images-container {
    display: flex;
    flex-direction: row;
    align-items: center;

}

#side-images-container {
    display: flex;
    flex-wrap: wrap;
}

#main-image {

    width: 480px
}

.side-image {

    width: 240px
}

/* Spot Info Container */

#spot-info-container {
    display: flex;
    flex-direction: row;
    border-bottom: 1px solid black;
}

#host-info {

    font-size: 20px;
    margin-top: 15px;
    margin-bottom: 10px;
}

#spot-description {
    width: 60%;
    padding-bottom: 15px;
}

/* Callout Box */

.callout-box {

    display: flex;
    flex-direction: column;
    border: 1px solid black;
    width: 35%;
}

.callout-box-upper {
    display: flex;
    justify-content: space-between;

}

.callout-upper-right {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

.callout-upper-right div {

    padding: 2px;
}

.reviews-header > * {

    font-size: 20px;
}

/* Reviews Container */
#reviews-container {
    display: flex;
    flex-direction: column;
}
