body {
    padding-right: 20px;
    padding-left: 20px;
    font-family: Arial, Helvetica, sans-serif;

}

input {

    margin-left: 10px;
    margin-right: 10px;
}

.hidden {
    display: none
}

/* Header */

.logo-container {

    height: 75px;
}

#logo {

    width: 100px;
}

/* Profile Button */

.profile-button-container {

    position: static;
    height: 20px;

}
.profile-button {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
    border: 1px solid black;
    border-radius: 20px;
    height: 35px;
    width: 70px;
    box-shadow: 3px 3px 3px grey;
}

.profile-dropdown {

    border: 1px solid black;
    border-radius: 15px;
    height: 90px;
    width: 120px;
    position: absolute;
    top: 70px;
    right: 37px;
    z-index: 3;
    background-color: ghostwhite;
    box-shadow: 3px 3px 3px grey;
}

.profile-container {
    margin-left: 10px;
    position: absolute;
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 2px solid lightgray;
}
